header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

.cont {
    text-align: center;
    font-size:20px;
}

.foot {
    margin-top: 170px;
}