body {
   background: #B3B4C1;
}
.task {
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.task.reminder {
    border-left: 7px solid rgb(44, 206, 58);
}

.task h3 {
    display: flex;
    justify-content: space-between;
    text-align: center;
}